@{
    ViewData["Title"] = "Privacy Policy";
    ViewBag.AditionalLibraries = true;
}

@section Styles {

    <style>

    </style>
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


@section Scripts {

    <script>
        console.log("Hola Mundo!");
    </script>
}