<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplicationMVC</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- IonIcons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">

    <!-- Layout CSS Files -->
    @if (IsSectionDefined("Styles"))
    {
        @await RenderSectionAsync("Styles", required: false)
    }

</head>
<body>
    <div class="wrapper">
        <!-- Navbar -->
        @{
            await Html.RenderPartialAsync("~/Views/Shared/_Navbar.cshtml");
        }
        <!-- Sidebar -->
        @{
            await Html.RenderPartialAsync("~/Views/Shared/_Sidebar.cshtml");
        }
        <!-- Main Content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- Footer -->
        @{
            await Html.RenderPartialAsync("~/Views/Shared/_Footer.cshtml");
        }
    </div>

    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE -->
    <script src="~/dist/js/adminlte.js"></script>

    <!-- Layout Script Files -->
    @if (IsSectionDefined("Scripts"))
    {
        @await RenderSectionAsync("Scripts", required: false)
    }

</body>
</html>
